.navbarLay {
   position: fixed;
   background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(20, 20, 20, 0.8) 33%, rgba(60, 60, 60, 0.8) 66%, rgba(80, 80, 80, 0.6) 100%);
   color: white;
   width: 100%;
   height: 55px;
   display: flex;
   align-items: center;
   padding: 0px 20px;
   z-index: 100;
}

.navbar {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   font-size: 26px;
   font-weight: 600;
   cursor: pointer;
}

.navContent {
   display: flex;
}

.logout,
.navContent>div {
   color: rgb(200, 200, 200);
   font-size: 18px;
   font-weight: 500;
   margin: 0px 20px;
   cursor: pointer;
   transition: 0.3s;
}

.logout:hover,
.navContent>div:hover {
   color: white;
}

.menuBar {
   background-color: rgb(23, 23, 23);
   position: absolute;
   top: 39px;
   right: -18px;
   border-bottom-left-radius: 10px;
}


.menuBar{
   padding: 6px 0px;
}
.menuBar>div {
   color: rgb(200, 200, 200);
   font-size: 20px;
   font-weight: 500;
   padding: 10px 50px;
   cursor: pointer;
   transition: 0.3s;
}