.blogForm {
   background-image: url(./../../assets/profile.jpg);
   padding: 88px 40px 20px;
   background-position: center;
   background-size: cover;
   min-height: 100vh;
}

.blogImageSize {
   width: 80%;
   height: 200px;
}

.blogFormDes{
   height: 160px;
}


@media screen and (max-width:992px) {

   .blogImageSize {
      height: 300px;
   }

}

@media screen and (max-width:576px) {

   .blogImageSize {
      height: 130px;
   }

}